.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --highlighted: #f45a1e;
  --unselected: #9c9c9c;
}

body {
  font-family: "Lato";
  font-size: 17px;

   background-image: url("https://webcms.tpilet.ee/static/taustapilt.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}



/* navbar */
.navbar {
  background-color: white;
  height: 95px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  margin-left: 35px;
}



.navbar nav {
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-grow: 1;
}

.navbar nav a {
  margin-right: 34px;
  color: var(--unselected);
  text-decoration: none;
  padding-top: 36px;
  padding-bottom: 36px;
}

.navbar nav a.active {
  color: var(--highlighted);
  font-weight: 900;
  border-bottom: 2px solid var(--highlighted);
}



.navbar address {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-right: 25px;
}

.navbar address a {
  color: var(--unselected);
  text-decoration: none;
  font-style: normal;
  font-size: 15px;
}



.languages {
  padding-left: 1px;
  padding-right: 36px;

  align-content: center;

  height: 72px;
  border-left: 1px solid var(--unselected)
}

.languages button {
  border: none;
  background: none;
  color: var(--unselected);
  text-decoration: none;

  font-size: 18px;

  margin-left: 24px;
}

.languages button.active {
  color: var(--highlighted);
  font-weight: 700;
}


/* hero */

