.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;

  margin: 0;
  border: none;
  padding: 0;
  background: none;

  font-family: inherit;
  color: #272727;
}

:root {
  --highlighted: #f45a1e;
  --unselected: #9c9c9c;
  --spacer: #ededed;
}

body {
  background-image: url("https://webcms.tpilet.ee/static/taustapilt.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;

  font-family: "Lato";
  font-size: 17px;
}



/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 95px;

  background-color: white;
}

.navbar-logo {
  margin-left: 35px;
}



.navbar nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-grow: 1;

  height: 100%;

  margin-left: 24px;
}

.navbar nav a {
  margin-right: 34px;

  padding: 36px 0px;

  text-decoration: none;
  color: var(--unselected);
}

.navbar nav a.active {
  border-bottom: 2px solid var(--highlighted);

  font-weight: 900;
  letter-spacing: 0.5px;
  color: var(--highlighted);
}



.navbar address {
  display: flex;
  flex-direction: column;
  align-items: end;

  margin-right: 25px;
}

.navbar address a {
  font-style: normal;
  text-decoration: none;
  font-size: 15px;
  color: var(--unselected);
}



.languages {
  align-content: center;

  height: 72px;

  border-left: 1px solid var(--unselected);

  padding: 0px 36px 0px 1px;
}

.languages button {
  margin-left: 24px;

  cursor: pointer;

  font-size: 18px;
  color: var(--unselected);
}

.languages button.active {
  font-weight: 700;
  color: var(--highlighted);
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main h1 {
  margin: 52px 0px 42px;

  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.5px;
}



.selector {
  width: 400px;
  height: 507px;

  margin-bottom: 10px;

  background-color: white;
}

.direction {
  display: flex;
  flex-direction: row;

  height: 44px;
}

.direction button {
  width: 50%;
  height: 100%;

  border-bottom: 1px solid var(--spacer);

  cursor: pointer;

  font-size: 14px;
  color: var(--unselected);
}

.direction button.active {
  color: var(--highlighted);
  font-weight: 700;

  border-bottom: 3px solid var(--highlighted);
}

.selector form {
  display: flex;
  flex-direction: column;
}

.selector input {
  width: 100%;
  height: 54px;

  border-bottom: 1px solid var(--spacer);

  padding: 0px 24px;

  font-size: 15px;
  letter-spacing: .4px;
}

.searchform-switch {
  position: relative;
  align-self: right;

  top: -66px;
  left: 176px;

  height: 0;
}



.search-for-a-trip {
  width: 200px;
  height: 56px;

  margin: 26px 0px 29px;

  border-radius: 4px;

  background-image: linear-gradient(260deg,#ff7b00,#ff5a3c);

  font-size: 16px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #fff;
}



.popular {
  padding: 26px 10px 30px;

  background-color: #fbfbfb;
}

.popular h2 {
  margin: 13px 0px;

  text-align: center;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}

.popular .destinations {
  display: flex;
  justify-content: space-around;

  margin-top: 16px;
}

.popular .destinations li {
  list-style: none;

  cursor: pointer;

  font-size: 14px;
  line-height: 1.5;
  color: var(--unselected);
}

.left {
	display: inline-block;
	text-align: left;
}

.right {
	display: inline-block;
	text-align: right;
}
